:root {
    --main-font: "Roboto", sans-serif;
    --logo-font: "Raleway", sans-serif;
    --title-dark-color: #212121;
    --title-light-color: #FFFFFF;
    --logo-dark-color: #000000; 
    --description-color: #757575;
    --accent-color: #2196F3;
    --background-dark-color: #2F303A;
    --background-light-color: #F5F4FA;
    --semitransparent-grey:  rgba(255, 255, 255, 0.6);
    --hero-button-shadow-color: rgba(0, 0, 0, 0.15);
    --filter-button-background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F5F4FA;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'Roboto', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.address {
    font-style: normal;
}

img {
    display:block;
    max-width: 100%;
    height:auto;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/*  ============ COMPONENTS  ============ */

.logo {
    display:block;
    font-family: var(--logo-font);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-web {
    color: var(--accent-color);
}

.section-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-dark-color);
}
/*  ============ END COMPONENTS  ============ */

/*  ============ HEADER  ============ */

.header {
    padding: 25px 0;
}

.header .container {
    display: flex;
    align-items: center;
}

.navigation {
    display:flex;
    align-items: center;
}

.header .logo {
    margin-right: 93px;
}

.header .logo-web {
    color: var(--logo-dark-color);
}

.navigation-list {
    display:flex;
}

.navigation-list-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--title-dark-color);
}

.contact-list {
    display:flex;
    margin-left: auto;
}

.contact-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--description-color);
}

.contact-list-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.contact-list-link:hover,
.contact-list-link:focus {
    color: var(--accent-color);
}

.active-page {
    color: var(--accent-color);
}

/*  ============ END HEADER  ============ */

/*  ============ FOOTER  ============ */

.footer {
    padding: 60px 0;
    min-width: 250px;
    background-color: var(--background-dark-color);
}


.footer .logo-web {
    color: var(--title-light-color);
}

.footer .logo {
    margin-bottom:20px;
}

.address-line:not(:last-child) {
    margin-bottom: 9px;
}

.address-main {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--title-light-color);
}

.address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--semitransparent-grey)
}

.address-main:hover,
.address-main:focus,
.address-link:hover,
.address-link:focus {
    color: var(--accent-color)
}

/*  ============ END FOOTER  ============ */


/*-------STUDIO PAGE-------*/

/*  ============ HERO  ============ */

.hero .container {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero {
    background-color: var(--background-dark-color);
    min-height: 600px;
    text-align: center;
}

.hero-title {
    margin-bottom: 30px;
    min-width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--title-light-color);
}  
.hero-button {
    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    align-items: center;
    color: var(--title-light-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px var(--hero-button-shadow-color);
    border-radius: 4px;
}
  /*  ============ END HERO  ============ */

  /*  ============ ADVANTAGES  ============ */

.advantages .container {
    padding-bottom: 94px;
    padding-top:94px;
}

.advantages-list {
    display: flex;
}

.advantages-list-item {
    width: 270px;
}

.advantages-list-item:not(:last-child) {
    margin-right: 30px;
}

.advantages-list-subtitle {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-dark-color);
}


.advantages-list-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--description-color)
}
/*  ============ END ADVANTAGES  ============ */

/*  ============ SERVICES  ============ */

.services {
    padding-bottom: 94px;
}

.services-list {
    display:flex;
}

.services-list-item:not(:last-child) {
    margin-right:30px;
}

/*  ============ END SERVICES  ============ */

/*  ============ TEAM  ============ */

.team {
    background: var(--background-light-color);
    padding-bottom: 94px;
    padding-top: 94px;
}

.team-list {
    display:flex;
}

.team-list-item:not(:last-child) {
    margin-right: 30px;
}

.team-list-item {
    width: 270px;
    background-color: var(--title-light-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list-content {
    padding-bottom: 30px;
    padding-top:30px;
    text-align: center;
}


.team-list-subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-dark-color);
}
.team-list-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--description-color)
}
/*  ============ END TEAM  ============ */

/*-------END STUDIO PAGE-------*/



/*-------PORTFOLIO PAGE-------*/

/*  ============ PROJECTS  ============ */

.projects {
    padding-top: 94px;
    padding-bottom:94px;
    border-top: 1px solid #ECECEC;
}

.projects-filter-list {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.projects-filter-list-item:not(:last-child) {
    margin-right: 8px;    
}

.projects-filter-list-button {
    align-content: center;
    padding: 6px 22px;
    min-width: 73px;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-dark-color);
    background: #F5F4FA;
    border-radius: 4px;
    border:none;
}

.projects-filter-list-button:hover,
.projects-filter-list-button:focus {
    color: var(--title-light-color);
    background: var(--accent-color)
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-list-item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.projects-list-item:nth-child(3n) {
    margin-right: 0;
}

.projects-list-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.projects-list-link {
    display: block;
}


.projects-card-content {
    width: 370px;
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.projects-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-dark-color);
}

.projects-list-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--description-color)
}
/*  ============ END PROJECTS  ============ */

/*-------END PORTFOLIO PAGE-------*/














